html,
body {
  background-color: #f9f3eb;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.App {
  margin: 2em 2em 2em 2em;
}

.header {
  background-color: #c5c9bc;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: -3em;
  margin-top: 2em;
  padding: 1em 1em 3em 1em;
}

.title {
  font-size: 2.5rem;
}

.vernacular {
}

.scientific.title {
  opacity: 0.5;
}

.scientific.title::before {
  content: " - ";
}

.scientific {
  font-style: italic;
}

.header .author {
  display: block;
  padding: 0.25rem;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem;
}

.content > * {
  margin: 0.5rem;
}
.sidebox {
  width: 300px;
  flex-grow: 1;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
}

.content > img {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
  width: 60%;
  object-fit: cover;
  flex-grow: 1;
}

.taxonCoverMissing {
  height: 200px;
  object-fit: none !important;
}

.ancestry {
  font-size: 0.8rem;
  padding-bottom: 0.6rem;
}

a {
  color: #3a85ad;
}

.taxonDescriptionPreview {
  box-sizing: border-box;
  width: 60%;
}

.taxonDescriptionPreview h2 {
  font-size: 1.2rem;
}

.section {
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.section h2 {
  margin-top: 0;
  font-size: 1.1rem;
  color: #102815;
}

.map img {
  width: 100%;
  max-width: 500px;
}

.redlist {
  border: 1px solid black;
  padding: 0.2em;
  margin: 0.1em;
  width: 1.3em;
  display: inline-block;
  text-align: center;
  opacity: 0.3;
  font-size: .85rem;
}

.redlist.selected {
  font-size: 1.75em;
  opacity: 1;
}

.redlistLabel {
  padding-top: 1em;
  text-align: center;
  font-size: .9em;
}

.redlist.RE {
  background-color: #5a5b5d;
  color: #fff;
}

.redlist.CR {
  background-color: #99191a;
  color: #fff;
}

.redlist.EN {
  background-color: #d80f27;
  color: #fff;
}

.redlist.VU {
  background-color: #e94f33;
  color: #fff;
}

.redlist.NT {
  background-color: #ed6c26;
  color: #fff;
}

.redlist.DD {
  background-color: #f7a520;
  color: #fff;
}

.redlist.LC {
  background-color: #60beb2;
  color: #fff;
}

.redlist.NA {
  background-color: #939598;
  color: #fff;
}

.redlist.NE {
  background-color: #d1d3d4;
  color: #6b6c6c;
}

.autocomplete {
  width: 300px;
}

.textInput {
  font-size: 1.5rem;
}

.autocompleteItems {
  border: 1px solid red;
}

.autocompleteItem {
  border: 1px solid blue;
  font-size: 1.2rem;
  cursor: pointer;
}

.autocompleteItem:hover {
  font-weight: bold;
}

.fatBox {
  border: 3px solid gray;
  display: flex;
}

.taxonDescriptionPreview {
  text-align: left;
  padding: 1em;
}
