.App {
  text-align: center;
}

.autocomplete {
  width: 300px;
}

.textInput {
  font-size: 1.5rem;
}

.autocompleteItems {
  border: 1px solid red;
}

.autocompleteItem {
  border: 1px solid blue;
  font-size: 1.2rem;
  cursor: pointer;
}

.autocompleteItem:hover {
  font-weight: bold;
}

h3 {
  color: green;
}

.fatBox {
  border: 3px solid gray;
  display: flex;
}

.taxonCoverThumb {
  width: 120px;
}

.taxonDescriptionPreview {
  text-align: left;
  padding: 1em;
}